/* Base Styles */
#modalShowTitle {
  display: flex;
  flex-direction: column;
  margin: auto;
}

#showImage {
  display: flex;
  width: 80%;
  margin: auto;
}

#titleDivider {
  display: block;
  width: 80%;
  margin-bottom: 3%;
}

table {
  width: 100%; /* Set table width to 100% */
  border-collapse: collapse; /* Collapse borders */
}

.table-container {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  width: auto;
}

.showsTitle,
.showsSubtitle,
.showsBlurb {
  text-align: center;
}

th,
td {
  border-bottom: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  overflow: hidden;
}

tr {
  width: 100%;
}

th {
  background-color: #e4f1fc;
  font-weight: bold;
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #daf0f880;
}

tr:hover {
  background-color: #e7e7e7;
}

button {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  background-color: #d9ddff;
  color: black;
  border-radius: 15px;
  text-align: center;
}

/* Modal Styles */
#modalAddress {
  padding: 2%;
}

.modal-overlay {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  max-height: 100%;
  overflow: hidden;
}

.modal-content {
  display: flex;
  flex-direction: column;
  max-height: 90vh;
  max-width: 50vh;
  overflow-y: auto;
  background: white;
  border-radius: 10px;
  padding: 20px;
  position: relative;
}

/* Table details */
.showDetails {
  display: flex;
  flex-direction: column;
  background: lightgray;
  opacity: 80%;
  border-radius: 8px;
  margin: 10px 0;
  padding: 20px;
  overflow-y: auto;
}

#headliner {
  font-style: italic;
  margin: 2% auto;
}

#showName {
  font-weight: bold;
  margin: 3% auto;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

#modalVenue {
  font-size: 1.4rem;
  font-weight: bold;
}

#modalAddress {
  font-size: 1.2rem;
}

#modalVenue,
#modalAddress,
#modalPrice {
  margin: auto;
}

#modalTime {
  font-style: italic;
}

#modalPrice {
  padding-bottom: 5%;
}

/* Media Queries */
@media (max-width: 801px) {
  .table-container {
    max-width: 768px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 100%;
  }

  .componentContainer {
    display: flex;
    width: 100%;
    height: 100%;
  }

  table {
    width: auto;
    display: block;
    white-space: nowrap;
  }

  tr {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: auto;
    justify-content: center;
  }

  th,
  #titleDivider {
    display: none; /* Hide table headers on mobile */
  }

  td {
    display: block;
    width: 99dvw;
    max-width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    margin: auto;
    border-bottom: 1px solid #ddd;
    word-wrap: break-word !important;
    white-space: normal;
  }

  #venueDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    font-size: medium;
    text-align: center;
  }

  #showName,
  #headliner {
    font-size: 16px;
    width: auto;
  }

  .showName {
    font-weight: 600;
    max-width: 80dvw;
  }

  .showPrice {
    font-size: 16px;
    font-weight: bold;
  }

  .showDate {
    font-size: 18px;
    font-weight: bold;
  }

  button {
    display: flex;
    width: 30dvw;
    align-content: center;
    padding: 10px;
    margin-top: 10px;
    font-size: 14px;
  }

  .nav {
    width: 100dvw;
  }

  .showDetails {
    height: auto;
    max-height: 80vh;
    overflow-y: auto;
    padding: 20px;
    margin: 10px;
  }

  tr {
    display: flex;
    width: 100dvw;
  }

  .home {
    width: auto;
    margin: auto;
  }

  .modal-buttons {
    display: flex;
    flex-direction: column;
  }
}
