.mediaContainer {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 98dvw;
  height: auto;
}

#mediaHeadline {
  display: flex;
  justify-content: center;
}

iframe {
  display: flex;
  margin: auto;
  margin-bottom: auto;
}

#publishDate {
  font-size: 12px;
  text-align: center;
}

hr {
  display: block;
  width: 80%;
}

@media (max-width: 768px) {
  iframe {
    display: block;
    flex-direction: column;
    width: 80%;
  }
}
