.mediaContainer {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 100dvh;
  height: auto;
  /* margin-bottom: 5dvh; */
}

#mediaHeadline {
  display: flex;
  justify-content: center;
}

iframe {
  display: flex;

  margin: auto;
  margin-bottom: auto;
  /* align-items: center; */
  /* width: 60%; */
  /* height: 50dvh; */
  /* padding: 10px; */
}

#publishDate {
  font-size: 12px;
}

hr {
  display: block;
  width: 80%;
}

@media (max-width: 768px) {
  iframe {
    display: block;
    flex-direction: column;
    width: 100%;
  }
}
