/* div {
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

.table-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: #fff;
  border-radius: 10px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  width: 80dvw;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.showsTitle,
.showsSubtitle,
.showsBlurb {
  text-align: center;
}

th,
td {
  /* width: 100%; */
  border-bottom: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #e4f1fc;
  font-weight: bold;
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #daf0f880;
}

tr:hover {
  background-color: #e7e7e7;
}

button {
  background-color: #d9ddff;
  color: black;
}

@media (max-width: 768px) {
  .table-container {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: auto;
    width: auto;
  }
}

h2,
h3,
h4,
h5,
h6,
p {
  text-align: center;
}

.modal-content {
  text-align: center;
  justify-content: center;
  margin: auto;
}

.showDetails {
  display: flex;
  align-items: center;
  margin: auto;
}
