/* div {
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

#modalShowTitle {
  display: flex;
  flex-direction: column;
  margin-bottom: 0%;
}

#titleDivider {
  display: block;
  width: 80%;
  margin-bottom: 3%;
}

.table-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: #fff;
  border-radius: 10px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  width: 80dvw;
}

#headliner,
#showName {
  font-size: 18px;
  text-align: center;
  margin: auto;
}

#headliner {
  font-style: italic;
}

#showName {
  font-weight: 500;
}

#venue {
  font-size: 25px;
}

#modalAddress {
  padding: 2%;
}

.modal-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  /* padding: 10%; */
  max-height: 100%;
}

.showDetails {
  display: flex;
  flex-direction: column;
  background: lightgray;
  opacity: 80%;
  /* padding: 8%; */
  border-radius: 8px;
  margin: auto;
  max-width: auto;
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}

#modalVenue {
  font-size: 1.4rem;
  font-weight: bold;
}

#modalAddress {
  font-size: 1.2rem;
}

#modalVenue,
#modalAddress,
#modalPrice {
  margin: auto;
  /* padding: 5%; */
}

#modalTime {
  padding: 5%;
  font-style: italic;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.showsTitle,
.showsSubtitle,
.showsBlurb {
  text-align: center;
}

th,
td {
  /* width: 100%; */
  border-bottom: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

tr {
  width: 100%;
}

th {
  background-color: #e4f1fc;
  font-weight: bold;
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #daf0f880;
}

tr:hover {
  background-color: #e7e7e7;
}

button {
  background-color: #d9ddff;
  color: black;
}

@media (max-width: 768px) {
  .table-container {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: auto;
    width: auto;
  }
}

h2,
h3,
h4,
h5,
h6,
p {
  text-align: center;
}

.modal-content {
  text-align: center;
  justify-content: center;
  margin: auto;
}

.showDetails {
  display: flex;
  align-items: center;
  margin: auto;
}
