/* =========STUDIO PAGE========== */
.studio .info {
  display: flex;
  justify-content: center;
  margin-bottom: 20%;
}

.studioContainer,
.creditsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70dvw;
  margin: auto;
  text-align: center;
}

.textDivider {
  margin: auto;
  border: none;
  height: 1px;
  background-color: #ccc;
}

/* =========GEAR & PROGRAMS========== */

.gearAndPrograms,
.productionCredits {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 50dvw;
  margin: auto;
}

@media (max-width: 768px) {
  .studioContainer {
    margin: auto;
    width: 95%;
  }
  .gearAndPrograms,
  .productionCredits {
    height: 100%;
    width: auto;
    margin: 5dvh;
  }
  .greenRoom {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
  }
  p {
    text-align: center;
  }
}
