p {
  margin: auto;
}

/* =========STUDIO PAGE========== */
.studio .info {
  display: flex;
  justify-content: center;
  margin-bottom: 20%;
}

.studioContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60dvw;
  margin: auto;
}

.greenRoom {
  float: left;
  width: 20dvw;
}

/* =========GEAR & PROGRAMS========== */

.gearAndPrograms,
.productionCredits {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50dvw;
  margin: auto;
}

@media (max-width: 768px) {
  .studioContainer,
  .gearAndPrograms,
  .productionCredits {
    height: 100%;
    width: auto;
    margin: auto auto 5dvh auto;
  }
  .greenRoom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 0 0 20px 0;
  }

  p {
    margin: auto;
  }
}
