@import "../../../styles/Bio.css";

.producer {
  display: flex;
  flex-direction: column;
  margin: auto auto 5dvh auto;
}

.studio .info {
  display: flex;
  justify-content: center;
}

.studioContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  width: 70%;
  margin: auto auto 10dvh auto;
}

.greenRoom {
  float: left;
  width: 20dvw;
}

p {
  font-size: 25px;
  width: 90%;
  font-weight: 100;
  text-align: center;
  margin: auto 3.2dvw auto auto;
}

.gearAndPrograms,
.productionCredits {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  width: 50dvw;
  margin: auto;
}

@media (max-width: 768px) {
  .studioContainer,
  .gearAndPrograms,
  .productionCredits {
    height: 100%;
    width: auto;
    margin: auto auto 5dvh auto;
    font-size: 15px;
  }
  .greenRoom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 0 0 20px 0;
  }

  p {
    margin: auto;
    font-size: 20px;
  }
}
