/* -----------------GLOBAL CSS----------------- */

.App {
  display: flex;
  flex-direction: column;
  font-family: "Courier New", Courier, monospace;
}

/* stops background from being shown + centers all for mobile, fits the navbar into the bodyContainer without letting it stick out */
html,
body {
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
}

/* ======= image & credit rules ==== */
.image-wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 40%;
  margin: 30px;
  border-radius: 6px;
  box-shadow: 0 0 6px -1px;
  float: left;
}
.creditContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: auto;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: auto;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  opacity: 0;
  transition: 0.6s;
}

.image-wrapper:hover .creditContent {
  opacity: 1;
}

.photoCredit {
  font-size: 15px;
}

/* ==== mobile image & credit rules ==== */

@media (max-width: 768px) {
  .image-wrapper {
    width: 100%;
    margin: 10% auto 10% auto;
    max-width: 100%;
    float: none;
  }
}

.componentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 24px;
  width: 60dvw;
  margin: auto;
}

.contactInfo,
.contactDetails {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: auto;
  text-align: center;
  justify-content: space-between;
  font-size: x-large;
}

.contactDetailHeader {
  font-weight: bold;
  margin: auto;
}

.btn {
  margin: auto;
  font-weight: normal;
  width: 20dvh;
  height: auto;
  font-size: 15px;
  border-radius: 7px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin: 1% auto 2% auto;
  /* text-decoration: none !important; */
}

#socialLinks {
  display: flex;
  margin: auto auto 15% auto;
  width: 50%;
  justify-content: space-between;
  padding: 10px;
}

img {
  display: flex;
  width: auto;
  border-radius: 6px;
  box-shadow: 0 0 6px -1px;
}

@media (max-width: 768px) {
  .image-wrapper {
    max-width: 95%;
  }
  .contactInfo {
    height: 100dvh;
  }
  .btn {
    display: flex;
    width: 40dvh;
  }
}
