.App {
  height: auto;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

.bodyContainer {
  height: 100%;
  margin: auto;
}

.contactInfo {
  margin-bottom: 20%;
}

.contactInfo,
.contactDetails {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: auto;
  text-align: center;
  justify-content: space-between;
  font-size: x-large;
}

.contactDetailHeader {
  font-weight: bold;
  margin: auto;
}

#socialLinks {
  display: flex;
  margin: auto auto 15% auto;
  width: 50%;
  justify-content: space-between;
  padding: 10px;
}

/* @media (max-width: 768px) {
  .contactInfo,
  .contactDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
} */
