@import "../styles/Home.css";

.portrait {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 15dvw;
}

.image-wrapper {
  float: left;
}
.creditContent {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  width: auto;
  height: auto;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  opacity: 0;
  transition: 0.6s;
}

.creditContent:hover {
  opacity: 1;
}

.nav {
  display: flex;
  margin: auto;
  align-items: center;
}

.homeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bio-text {
  width: 80%;
  margin: auto;
}

p {
  text-align: center;
}

@media (max-width: 768px) {
  .bodyContainer {
    height: auto;
    width: auto;
    margin-top: auto;
  }
  .portrait {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 10% auto 10% auto;
    object-fit: contain;
    height: auto;
  }

  .bio-text {
    display: flex;
    flex-direction: column;
    background-color: white;
  }
}

.bio {
  padding: 10px;
}

.bio .divider {
  display: inline;
}

hr {
  width: 10dvw;
}

.bio .nav a:not(:last-child) {
  margin-right: 10px;
}
