@import "../styles/Home.css";

.portrait {
  display: flex;
  float: left;
  flex-direction: column;
  width: auto;
  height: 40dvh;
  margin: 30px;
  border-radius: 6px;
  box-shadow: 0 0 6px -1px;
}

.nav {
  display: flex;
  margin: auto;
  align-items: center;
}

.homeContainer {
  display: flex;
  flex-direction: column;
}
.bio-text {
  width: 80%;
  margin: auto;
}

@media (max-width: 768px) {
  .bodyContainer {
    height: auto;
    width: auto;
    margin-top: auto;
  }
  .portrait {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 10% auto 10% auto;
    object-fit: contain;
    height: auto;
  }

  .bio-text {
    display: flex;
    flex-direction: column;
    background-color: white;
  }
}

.bio {
  padding: 10px;
}

.bio .divider {
  display: inline;
}

hr {
  width: 10dvw;
}

.bio .nav a:not(:last-child) {
  margin-right: 10px;
}
