@import "../styles/Home.css";

.portrait {
  display: flex;
  position: relative;
  float: left;
  flex-direction: column;
  /* max-width: 20dvw; */
  /* max-height: 50dvh; */
  /* width: inherit; */
  border-radius: 6px;
  box-shadow: 0 0 6px -1px;
  outline: 2px solid blue;
}

.image-wrapper {
  display: flex;
  float: left;
  flex-direction: column;
  max-width: 20dvw;
  outline: 2px solid green;
}
.creditContent {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  max-width: 20dvw;
  width: auto;
  height: auto;
  position: absolute;
  top: 2;
  margin-left: 0.8%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  opacity: 0;
  transition: 0.6s;
  outline: 2px solid red;
}

.creditContent:hover {
  opacity: 1;
}

.nav {
  display: flex;
  margin: auto;
  align-items: center;
}

.homeContainer {
  display: flex;
  flex-direction: column;
}
.bio-text {
  width: 80%;
  margin: auto;
}

p {
  text-align: center;
}

@media (max-width: 768px) {
  .bodyContainer {
    height: auto;
    width: auto;
    margin-top: auto;
  }
  .portrait {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 10% auto 10% auto;
    object-fit: contain;
    height: auto;
  }

  .bio-text {
    display: flex;
    flex-direction: column;
    background-color: white;
  }
}

.bio {
  padding: 10px;
}

.bio .divider {
  display: inline;
}

hr {
  width: 10dvw;
}

.bio .nav a:not(:last-child) {
  margin-right: 10px;
}
