html {
  background-image: url("../../assets/background.jpg");
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  width: 100%;
}

.bodyContainer {
  background-color: white;
  width: 80%;
  margin: auto;
  box-shadow: 0 0 3px 0;
  opacity: 98%;
}

.bio .nav {
  display: flex;
  flex-direction: row; /* Default layout for larger screens */
  justify-content: center;
}

.bio .nav a {
  padding: 10px; /* Add some padding for better touch target */
}

.bio .nav .divider {
  display: inline; /* Default display for desktop */
}

hr {
  display: none;
}

.bio .nav a:not(:last-child) {
  margin-right: 10px; /* Space between links */
}

@media (max-width: 768px) {
  .bodyContainer {
    width: 100%;
    display: flex;
  }
  .bioContainer {
    width: 100%;
  }
  .header {
    display: none;
  }
  a {
    display: flex;
    flex-direction: column;
  }
  #headshot {
    display: none;
  }

  .bio .nav {
    flex-direction: column;
    /* Change to column layout on mobile */
    align-items: stretch;
    /* Make links stretch to full width */
  }

  .bio .nav a {
    width: 100%;
    /* Full width for each link */
    text-align: center;
    /* Center text */
    border: none;
    /* Remove any borders */
    margin: 0;
    /* Remove margin */
  }

  .divider {
    display: none; /* Hide dividers on mobile */
  }

  hr {
    display: block;
  }
  .bio .nav a:not(:last-child) {
    margin-right: 0;
    /* Remove right margin on mobile */
  }
  .bio .nav a:not(:last-child) {
    margin-right: 0; /* Remove right margin on mobile */
  }
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* background-color: lightgray; */
  color: black;
  font-size: 10dvh;
  box-shadow: 0 0 0 0;
  padding: 25px;
  margin: auto;
}

.faded {
  color: #ccc;
  text-decoration: none;
}

.animate-in {
  opacity: 0;
  transform: translateX(100px);
  transition: opacity 0.5s, transform 0.5s;
}

.animate-in.active {
  opacity: 1;
  transform: translateX(0);
}

iframe {
  display: flex;
  margin: auto;
  align-items: center;
}

.bioContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0% 5% 5% 5%;
  width: 100dvh;
  margin: auto;
}

.bio {
  font-size: 20px;
}

img {
  width: 50%;
  height: 50%;
  display: flex;
  margin: 30px auto auto auto;
  /* padding: 10dvh 10dvh 3dvh 10dvh; */
  object-fit: contain;
  border-radius: 6px;
  box-shadow: 0 0 10px -1px;
}

.greenRoom,
.portrait {
  float: left;
  margin: 25px;
}

@media (max-width: 768px) {
  .greenRoom,
  .portrait {
    display: flex;
    width: 100%;
    position: relative;
    margin: auto;
  }
}

p {
  padding: 10px;
}

.playerContainer {
  display: flex;
  flex-direction: column;
  width: 70dvh;
  margin: auto;
}

#spotifyPlayer {
  width: 100%;
  height: 70dvh;
}

.title,
.item {
  display: flex;
  height: auto;
  width: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 700;
  font-size: 30px;
  box-shadow: 5px 5px 0 0;
  outline: 2px solid black;
}

.item {
  margin-top: 20px;
  /* background-color: */
}

h1,
h2 {
  text-align: center;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: gray;
  text-decoration: none;
}
