/* Organize General Styles */

html {
  background-image: url("../../assets/background.jpg");
  overflow-x: hidden;
}

.home {
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  width: 100%;
  height: 100%;
  font-size: x-large;
}

.bodyContainer {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  background-color: white;
  box-shadow:
    0 0 10px -1px rgba(0, 0, 0, 0.5),
    0 10px 10px -1px rgba(0, 0, 0, 0.5);
  padding-bottom: 5%;
  font-size: 24px;
}
/* General Mobile -- html, body container, home container -- Styling */

@media (max-width: 801px) {
  .bodyContainer {
    height: auto;
  }
  html,
  .bodyContainer {
    background-image: none;
    background-color: white;
  }
  .home {
    width: 100dvw;
  }
  .homeContainer {
    width: 100%;
    height: 85dvh;
  }
  .bodyContainer {
    width: 100%;
  }
}

/* Nav Styles */

.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  font-size: medium;
  width: 80dvw;
  height: 100%;
  margin: auto;
  opacity: 98%;
}

.faded {
  color: #ccc;
  text-decoration: none;
}

/* Nav Mobile */

@media (max-width: 768px) {
  .nav,
  .mobile-nav {
    margin-top: 10%;
    width: 10dvh;
    height: auto;
  }
  .bio .nav {
    flex-direction: column;
    align-items: stretch;
  }

  .bio .nav a {
    width: 100%;
    text-align: center;
  }

  .divider {
    display: none;
  }

  hr {
    display: none;
  }
  .bio .nav a:not(:last-child) {
    margin-right: 0;
  }
  .bio .nav a:not(:last-child) {
    margin-right: 0;
  }
}

/* Header Styling */

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: black;
  font-size: 10dvh;
  box-shadow: 0 0 0 0;
  padding: 25px;
  margin: auto;
}

@media (max-width: 768px) {
  #headerTitle {
    position: relative;
  }

  .header {
    display: none;
    text-align: center;
  }
}

/* Home Container & Image Wrapper + Credits */

/* Home Container/Img/Header Mobile Styling */

/* ======= General ======= */

#headshot {
  display: flex;
  max-width: 100%;
  height: auto;
  margin: auto;
  border-radius: 6px;
  box-shadow: 0 0 10px -1px;
}

.greenRoom {
  margin: 25px;
}

@media (max-width: 768px) {
  .greenRoom,
  .portrait {
    display: flex;
    width: 100%;
    position: relative;
    margin: auto;
  }
  #headshot {
    width: 100%;
    height: auto;
  }
  .header {
    display: flex;
    flex-direction: column;
    margin-bottom: 20%;
  }
}

.playerContainer {
  display: flex;
  flex-direction: column;
  width: 70dvh;
  margin: auto;
}

#spotifyPlayer {
  width: 100%;
  height: 70dvh;
}

.title,
.item {
  display: flex;
  height: auto;
  width: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 700;
  font-size: 30px;
  box-shadow: 5px 5px 0 0;
  outline: 2px solid black;
}

.item {
  margin-top: 20px;
}

h1,
h2 {
  text-align: center;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: gray;
  text-decoration: none;
}

.footer {
  display: block;
  background-color: white;
  width: 80%;
  opacity: 30%;
  margin: auto;
  font-size: x-small;
  padding: 5px;
}

@media (max-width: 768px) {
  .footer {
    top: 100%;
    width: 99%;
  }
}
