.gridCard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  max-width: 80dvh;
  margin: 10dvh auto auto auto;
  grid-gap: 30px;
  justify-content: center;
  margin-bottom: 5dvh;
}

.gridItem {
  display: flex;
  flex-direction: column;
  width: 30dvh;
  height: 30dvh;
  border-radius: 3px;
  opacity: 80%;
  justify-content: center;
  align-items: center;
  position: relative;
}

.gridItem img,
.releaseTitle {
  width: auto;
  height: auto;
  object-fit: cover;
  border-radius: 3px;
  margin: auto auto auto auto;
  text-align: center;
}

.gridItem:hover:not(.selected),
.releaseTitle:hover:not(.selected) {
  display: none;
}

.gridItem.selected {
  display: flex;
  transform: scale(1.5);
  object-fit: contain;
  opacity: 80%;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
  z-index: 1;
  background-color: rgb(240, 237, 233);
  height: auto;
  width: auto;
}

.modal-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.modal-content {
  background: lightgray;
  opacity: 80%;
  padding: 20px;
  border-radius: 8px;
  margin: auto;
  max-width: 50%;
  max-height: auto;
  overflow-y: auto;
  position: relative;
}

.description-container {
  max-height: 400px;
  overflow-y: auto;
  padding: 10px;
  border: 1px solid #ccc;
}

hr {
  display: none;
}

@media (max-width: 768px) {
  .gridCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* grid-template-rows: repeat(2, 1fr); */
    width: 100%;
    margin: auto auto 20dvh auto;
    gap: 20dvh;
  }
  .gridCard:hover:not(.selected) {
    display: flex;
    flex-direction: column;
  }

  .releaseTitle {
    display: flex;
    justify-content: center;
  }

  .releaseTitle:hover:not(.selected) {
    display: none;
    font-size: 0;
  }

  .gridItem {
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  .gridItem:hover:not(.selected) {
    align-self: center;
    margin: auto;
    width: 100%;
    display: none;
  }

  .modal-overlay {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    z-index: 1000; /* Ensure it appears above other content */
  }

  .modal-content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    background: rgb(255, 248, 248);
    padding: 20px;
    border-radius: 8px;
    max-width: 90%; /* Responsive width */
    max-height: 90%; /* Responsive height */
    overflow-y: auto; /* Scroll if content is too tall */
    position: relative; /* For positioning close button */
  }
  hr {
    display: block;
    margin-bottom: 10dvh;
    width: 65%;
  }
}

.gridItem:not(.selected) {
  transform: scale(1);
  opacity: 0.8;
}

.menu {
  grid-row: 1 / 3;
  height: 100%;
  box-shadow: 0 0 10px 2px;
}

.album-details {
  max-height: 200px;
  max-width: 200px;
  overflow-y: auto;
  padding: 16px;
  margin-bottom: 16px;
}

.album-art {
  display: flex;
  max-height: 200px;
  object-fit: contain;
  box-shadow: 0 1px 5px 0;
  margin: auto;
}

.album-art:hover:not(.selected),
.gridItem:hover:not(.selected) {
  transform: scale(1.2);
  display: flex;
}

.album-details {
  text-align: center; /* Center text */
}

.btn {
  margin: auto;
  background-color: white;
  font-weight: normal;
  width: 20dvh;
  height: auto;
  font-size: 15px;

  border-radius: 7px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
