@import "../styles/storeFlexMenu.css";
@import "../../App.css";

.releaseTitle {
  width: auto;
  height: auto;
  object-fit: cover;
  border-radius: 3px;
  margin: auto;
  text-align: center;
}

/* centers all album art */
.albumArt {
  margin: auto;
}

.description-container {
  display: flex;
  flex-direction: column;
  background: lightgray;
  opacity: 80%;
  border-radius: 8px;
  padding: 0 2% 0 2%;
  padding: 3%;
  overflow-y: auto;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .releaseTitle {
    display: flex;
    justify-content: center;
  }

  .releaseTitle:hover:not(.selected) {
    display: none;
    font-size: 0;
  }

  .modal-overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1000;
  }

  .modal-content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    background: rgb(255, 248, 248);
    /* padding: 5px; */
    border-radius: 8px;
    max-width: 90%;
    max-height: 90%;
    overflow-y: auto;
    position: relative;
  }

  .show-modal {
    display: block;
  }

  .modal-overlay {
    z-index: 2000;
  }

  .description-container {
    display: flex;
    /* overflow-y: scroll; */
    /* max-height: 40%; */
  }
}

/* album art, details, and hover styles */

.album-details {
  max-height: 100px;
  max-width: 200px;
  overflow-y: auto;
  word-wrap: break-word;
  padding: 16px;
  margin-bottom: 16px;
}

.album-art {
  display: flex;
  max-height: 200px;
  /* box-shadow: 0 1px 5px 0; */
  margin: auto;
  margin-top: 5%;
}

.album-art:hover:not(.selected) {
  transform: scale(1.2);
  display: flex;
}

@media (max-width: 768px) {
  .description-container {
    height: auto;
    min-height: 60% !important;
    font-size: medium;
    word-wrap: inherit;
  }

  #modal-album-art {
    display: none !important;
  }
}
