.adminContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 80%;
  padding: 20px;
  margin: auto;
  margin-top: 30dvh;
  height: auto;
  max-width: 600px;
  background-color: white;
}

.loginModule {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: auto;
  width: 30dvh;
  align-items: center;
  font-size: larger;
  
}

.email, .password {
  margin: 10px;
  gap: 10px;
  font-size: larger;

}

form {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 60%;
  gap: 10px;
  background-color: gainsboro;
}



.landing-btn {
  width: 20dvh;
  display: flex;
  justify-content: center;
  margin: auto;
}
