.adminContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 80%;
  padding: 20px;
  margin: 20px 20px 20px;
  height: auto;
  max-width: 600px;
  background-color: white;
}

.loginModule {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: auto;
  width: 30dvh;
  align-items: center;
  font-size: larger;
  
}

.email, .password {
  margin: 10px;
  gap: 10px;
  font-size: larger;

}

.gigForm {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 50%;
  gap: 10px;
  background-color: gainsboro;
}

.gigInput {
  outline: 2px black double;
}

.landing-btn {
  width: 20dvh;
  display: flex;
  justify-content: center;
  margin: auto;
}
