.creditsContainer {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  font-weight: 100;
}

#credit {
  font-size: 25px;
}

#creditDivider,
#streamDivider {
  width: 10%;
  margin: 30px auto 20px auto;
}

#spotifyPlayer {
  display: flex;
  width: 60%;
}

.streamingContainer {
  margin: auto;
  width: 70%;
}

@media (max-width: 768px) {
  .playerContainer {
    width: 98dvw;
  }
  #spotifyPlayer,
  .streamingContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
  }
}
